<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
.afaz{
margin-left: 0%;
padding-left: 0%;
display: inline;
}
.googelmap{
    margin-top: 20vh ;
    margin-left: 50vw;
}
</style>
</head>
<body style="background-color: rgb(48, 46, 46);">
    <header style="background-image: url('./footer1.jpg');">
        <nav>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="../index.html" style="text-decoration: none; color: antiquewhite;"><b>Home</b></a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <a href="./About.html" style="text-decoration: none; color: antiquewhite;"><b>About</b></a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <a href="./Services.html" style="text-decoration: none; color:antiquewhite;"><b>Services</b></a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <a href="Gallary.html" style="text-decoration: none; color: antiquewhite;"><b>Gallary</b></a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <a href="Contectus.html" style="text-decoration: none; color: antiquewhite;"><b>Contectus</b></a>&emsp;&emsp;&emsp;&emsp;
        <!-- <form action="get">
            <table>
                <tr>
                    <td>
                        <input type="button" value="login/singup">
                    </td>
                </tr>
            </table>
        </form> -->
       <a href=""><input type="button" value="login/signup"></a>
        </nav>
        <br>
        <br>
        <br>
        <br>
        <br>
    </header>
    <h1 style="font-size:60px; color: rgb(255, 255, 255);" Align="center">Protect<br>Our Wildlife!</h1>
    <div class="afaz">    
    <form action="./form.html" method="get"  >
            <fieldset style="width: 400px" >
                <div style="background-image: url('./ppp.jpg');">
                <table>
                    <h1 Align="center">" if you want to contectus. so please Fill  the Form"</h1>
                <tr>
                    <td>
                        <b>Name: &emsp; &emsp; &emsp;</b>
                    </td>
    
                    <td>
                        <input type="text" size="40" required placeholder="Name" maxlength="12">
                    </td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td>
                        <label for="email"><b>Email:</b></label>
                    </td>
                    <td>
                        <input type="email" id="email" name="email" required placeholder="Email">
                    </td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <tr></tr>
                    <td><b>Password: &emsp;&emsp;&emsp;</b></td>
                    <td> <input type="password" required placeholder="********" maxlength="8"></td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td><b>Address:&emsp;&emsp;&emsp;</b></td>
                    <td><textarea name="Adress" required id="" cols="15" rows="5" placeholder="Adress"></textarea></td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td>
                        <b>Gender:&emsp;&emsp;&emsp;</b>
                    </td>
                    <td>
                        <input type="radio" name="gender" value="female" id="female" required>
                        <LABel for="female">FEMALE</LABel>
    
                        <input type="radio" name="gender" value="male" id="male" required>
                        <LABel for="male">MALE</LABel>
    
                    </td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td><b>Language:&emsp;&emsp;&emsp;</b></td>
                    <td>
                        <input type="checkbox" name="lang 1">urdu
                        <input type="checkbox" name="lang 2">English
                        <input type="checkbox" name="lang 3">Arabic
                        <input type="checkbox" name="lang 4">Chines
                    </td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td><b>DOB:&emsp;&emsp;&emsp;</b></td>
                    <td><input type="date" required></td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td><b>Mobile Number:&emsp;&emsp;&emsp;</b></td>
                    <td><input type="number" required placeholder="Mobile Number"></td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td></td>
                    <td ><input type="submit"  value="submit form"></td>
                </tr>
            </table>
        </div>
        </fieldset>
    </form>
</div>
    <div class="googelmap">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d230672.9026081378!2d68.21770031640625!3d25.395968699999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x394c70f6d444f3c3%3A0xc00bbc183d41e285!2sHyderabad%2C%20Sindh%2C%20Pakistan!5e0!3m2!1sen!2s!4v1660757911812!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <footer style="background-image: url('./footer2.jpg');">
        &emsp; <a href="./term&polecy.html" style="text-decoration: none; color:rgb(0, 0, 0);"><b>Trems&Policy</b></a>
        &emsp; <a href="./aboutinfo.html" style="text-decoration: none; color:rgb(0, 0, 0);"><b>aboutinfo</b></a>
        &emsp;<a href="./ourfounder.html" style="text-decoration: none; color:rgb(12, 12, 11);"><b>Ourfounder</b></a> &emsp;&emsp;&#169;2022<a href="https://www.facebook.com/syed.afaz.585/" style="text-decoration: none; color:rgb(12, 12, 11);">afazsyed2@gmail.com</a>
     </footer>
    </body>
</html>