<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header style="background-image: url('./10.jpg');">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</header>
<body style="background-color: rgb(26, 24, 24);">
    <!-- <H1 Align="center"><img src="./10.jpg" alt=""></H1> -->
    <h1 Align="center" style="color: white; font-size: 100px;"><b>Protect <br>Our Wildlife!</b></h1>
    <br>
    <!-- <h1 Align="center"><img src="./13.jfif" alt=""></h1> -->
    <H1 Align="center">THANK YOU!</H1>
    <h1 Align="center">your form has been succssessfully submitted:-</h1>
<h1 Align="center"><a href="Contectus.html" style="text-decoration: none; color:antiquewhite;">GO BACK</a></h1>
</body>

</html>