<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(48, 46, 46);">
    <header style="background-image: url('images\ \(5\).jpg');">
    <nav>
        &emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="../index.html" style="text-decoration: none; color: antiquewhite;"><b>Home</b></a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <a href="./About.html" style="text-decoration: none; color: antiquewhite;"><b>About</b></a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <a href="./Services.html" style="text-decoration: none; color: antiquewhite;"><b>Services<b></a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <a href="Gallary.html" style="text-decoration: none; color: antiquewhite;"><b>Gallary</b></a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <a href="Contectus.html" style="text-decoration: none; color: antiquewhite;"><b>Contectus</b></a>&emsp;&emsp;&emsp;&emsp;
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>

</header>
<h1 style="font-size:60px; color: rgb(255, 255, 255);" Align="center">Protect<br>Our Wildlife!</h1>

<hr>
<div style="display: inline-block; width:33%">
    <figure>
   <img src="./download.jpg" alt="" width="100%">
   <figcaption>
    The HSUS documented uniformed police officers at a cockfighting pit in Kentucky.
    The U.S. Drug Enforcement Agency has prosecuted multiple cases where drug cartels were running narcotics through cockfighting and dogfighting operations.
    Dozens of homicides have occurred at cockfights and dogfights.
</figcaption>
</figure>
</div>
<div style="display: inline-block; width:33%">
    <figure>
   <img src="./cr.jpg" alt="" width="100%">
   <figcaption>
    The shocking number of animal cruelty cases reported every day is just the tip of the iceberg—most cases are never reported. Unlike violent crimes against people, cases of animal abuse are not compiled by state or federal agencies, making it difficult to calculate just how common they are. However, we can use the information that is available to try to understand and prevent cases of abuse
</figcaption>
</figure>
</div>
<div style="display: inline-block; width:33%">
    <figure>
   <img src="./donkey1.jpg" alt="" width="100%">
   <figcaption>
    The HSUS documented uniformed police officers at a cockfighting pit in Kentucky.
    The U.S. Drug Enforcement Agency has prosecuted multiple cases where drug cartels were running narcotics through cockfighting and dogfighting operations.
    Dozens of homicides have occurred at cockfights and dogfights.
</figcaption>
</figure>
</div>
<hr>
<div style="display: inline-block; width:33%">
    <figure>
   <img src="./ro.jpg" alt="" width="100%">
   <figcaption>
    Intentional cruelty to animals is strongly correlated with other crimes, including violence against people.
    Hoarding behavior often victimizes animals. Sufferers of a hoarding disorder may impose severe neglect on animals by housing far more than they are able to adequately take care of. Serious animal neglect (such as hoarding) is often an 
</figcaption>
</figure>
</div>
<div style="display: inline-block; width:33%">
    <figure>
   <img src="./ww.jpg" alt="" width="100%">
   <figcaption>
    indicator of people in need of social or mental health services.
    Surveys suggest that those who intentionally abuse animals are predominantly men under 30, while those involved in animal hoarding are more likely to be women over 60.
</figcaption>
</figure>
</div>
<div style="display: inline-block; width:33%">
    <figure>
   <img src="./pp.jpg" alt="" width="100%">
   <figcaption>
    The HSUS documented uniformed police officers at a cockfighting pit in Kentucky.
    The U.S. Drug Enforcement Agency has prosecuted multiple cases where drug cartels were running narcotics through cockfighting and dogfighting operations.
    Dozens of homicides have occurred at cockfights and dogfights.
</figcaption>
</figure>
</div>
<hr>
<div style="display: inline-block; width:33%">
    <figure>
   <img src="./mm.jpg" alt="" width="100%">
   <figcaption>
    The HSUS documented uniformed police officers at a cockfighting pit in Kentucky.
    The U.S. Drug Enforcement Agency has prosecuted multiple cases where drug cartels were running narcotics through cockfighting and dogfighting operations.
    Dozens of homicides have occurred at cockfights and dogfights.
</figcaption>
</figure>
</div>
<div style="display: inline-block; width:33%">
    <figure>
   <img src="./lh.jpg" alt="" width="100%">
   <figcaption>
    The HSUS documented uniformed police officers at a cockfighting pit in Kentucky.
    The U.S. Drug Enforcement Agency has prosecuted multiple cases where drug cartels were running narcotics through cockfighting and dogfighting operations.
    Dozens of homicides have occurred at cockfights and dogfights.
</figcaption>
</figure>
</div>
<div style="display: inline-block; width:33%">
    <figure>
   <img src="./22.jpg" alt="" width="100%">
   <figcaption>
    The HSUS documented uniformed police officers at a cockfighting pit in Kentucky.
    The U.S. Drug Enforcement Agency has prosecuted multiple cases where drug cartels were running narcotics through cockfighting and dogfighting operations.
    Dozens of homicides have occurred at cockfights and dogfights.
</figcaption>
</figure>
</div>
<hr>
<footer style="background-image: url('./footer2.jpg');">
    &emsp; <a href="term&polecy.html" style="text-decoration: none; color:rgb(0, 0, 0);"><b>Trems&Policy</b></a>
    &emsp; <a href="./aboutinfo.html" style="text-decoration: none; color:rgb(0, 0, 0);"><b>aboutinfo</b></a>
    &emsp;<a href="./ourfounder.html" style="text-decoration: none; color:rgb(12, 12, 11);"><b>Ourfounder</b></a> &emsp;&emsp;&#169;2022<a href="https://www.facebook.com/syed.afaz.585/" style="text-decoration: none; color:rgb(12, 12, 11);">afazsyed2@gmail.com</a>
 </footer>
</body>
</html>