<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(36, 32, 32);">
    <h1 style="font-size:60px; color: rgb(255, 255, 255);" Align="center">Protect<br>Our Wildlife!</h1>
    <h2 style="color: white;" Align="center">"Our founder"</h2>
   <h1 Align="cener"> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="Afaz.JPG" alt="" width="20%">
</h1>
<h2><p style="color: white;">Hello guy's!!! My name is Syed Afaz..And i am the founder of Protect Our Wildlife!...i Hope you will like my webpage:-)</p></h2>


</body>
</html>