<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <body style="background-color: rgb(48, 46, 46);">
          <!-- Insert to your webpage before the </head> -->
   <script src="sliderengine/jquery.js"></script>
   <script src="sliderengine/amazingslider.js"></script>
   <link rel="stylesheet" type="text/css" href="sliderengine/amazingslider-1.css">
   <script src="sliderengine/initslider-1.js"></script>
   <!-- End of head section HTML codes -->
</head>
    <header style="background-image: url('images\ \(3\).jpg');">
        <nav>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="../index.html" style="text-decoration: none; color: antiquewhite;"><b>Home</b></a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <a href="./About.html" style="text-decoration: none; color: antiquewhite;"><b>About</b></a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <a href="./Services.html" style="text-decoration: none; color: antiquewhite;"><b>Services</b></a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <a href="Gallary.html" style="text-decoration: none; color: antiquewhite;"><b>Gallary</b></a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <a href="Contectus.html" style="text-decoration: none; color: antiquewhite;"><b>Contectus</b></a>&emsp;&emsp;&emsp;&emsp;
        </nav>
        <br>
        <br>
        <br>
        <br>
        <br>
    </header>
    <h1 style="font-size:60px; color: rgb(255, 255, 255);" Align="center">Protect<br>Our Wildlife!</h1>
    <br>
    <main>
<!-- Insert to your webpage where you want to display the slider -->
<div class="amazingslider-wrapper" id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:900px;margin:0px auto 6px;">
    <div class="amazingslider" id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
        <ul class="amazingslider-slides" style="display:none;">
            <li><img src="images/cat.jpg" alt="Protect Our Wildlife"  title="Protect Our Wildlife" data-description="&quot;Animal protection is education to humanity.&quot; (" />
            </li>
            <li><img src="images/jjj.jpg" alt="Protect Our Wildlife"  title="Protect Our Wildlife" data-description="&quot;Animal protection is education to humanity.&quot; (" />
            </li>
            <li><img src="images/looo.jpg" alt="Protect Our Wildlife"  title="Protect Our Wildlife" data-description="&quot;Animal protection is education to humanity.&quot; (" />
            </li>
            <li><img src="images/odg.jpg" alt="Protect Our Wildlife"  title="Protect Our Wildlife" data-description="&quot;Animal protection is education to humanity.&quot; (" />
            </li>
            <li><img src="images/iii.jpg" alt="Protect Our Wildlife"  title="Protect Our Wildlife" data-description="&quot;Animal protection is education to humanity.&quot; (" />
            </li>
            <li><img src="images/jjj.jpg" alt="Protect Our Wildlife"  title="Protect Our Wildlife" data-description="&quot;Animal protection is education to humanity.&quot; (" />
            </li>
            <li><img src="images/gg.jpg" alt="Protect Our Wildlife"  title="Protect Our Wildlife" data-description="&quot;Animal protection is education to humanity.&quot; (" />
            </li>
        </ul>
        <ul class="amazingslider-thumbnails" style="display:none;">
            <li><img src="images/cat-tn.jpg" alt="Protect Our Wildlife" title="Protect Our Wildlife" /></li>
            <li><img src="images/jjj-tn.jpg" alt="Protect Our Wildlife" title="Protect Our Wildlife" /></li>
            <li><img src="images/looo-tn.jpg" alt="Protect Our Wildlife" title="Protect Our Wildlife" /></li>
            <li><img src="images/odg-tn.jpg" alt="Protect Our Wildlife" title="Protect Our Wildlife" /></li>
            <li><img src="images/iii-tn.jpg" alt="Protect Our Wildlife" title="Protect Our Wildlife" /></li>
            <li><img src="images/jjj-tn.jpg" alt="Protect Our Wildlife" title="Protect Our Wildlife" /></li>
            <li><img src="images/gg-tn.jpg" alt="Protect Our Wildlife" title="Protect Our Wildlife" /></li>
        </ul>
    <div class="amazingslider-engine"><a href="http://amazingslider.com" title="Responsive jQuery Slideshow">Responsive jQuery Slideshow</a></div>
    </div>
</div>
<!-- End of body section HTML codes -->
<br>
        <div style="display: inline-block; width:45%">
            <figure>
           <img src="./po.jpg" alt="" width="100%">
           <figcaption>
            The shocking number of animal cruelty cases reported every day is just the tip of the iceberg—most cases are never reported. Unlike violent crimes against people, cases of animal abuse are not compiled by state or federal agencies, making it difficult to calculate just how common they are. However, we can use the information that is available to try to understand and prevent cases of abuse.
        
            Who abuses animals?
            Cruelty and neglect cross all social and economic boundaries and media reports suggest that animal abuse is common in both rural and urban areas.
            
           
        </figcaption>
        </figure>
        </div>
        <div style="display: inline-block; width:45%">
        <figure>
        <img src="./opo.jpg" alt="" width="100%">
        <figcaption>
        Intentional cruelty to animals is strongly correlated with other crimes, including violence against people.
        Hoarding behavior often victimizes animals. Sufferers of a hoarding disorder may impose severe neglect on animals by housing far more than they are able to adequately take care of. Serious animal neglect (such as hoarding) is often an indicator of people in need of social or mental health services.
        Surveys suggest that those who intentionally abuse animals are predominantly men under 30, while those involved in animal hoarding are more likely to be women over 60.
        </figure>
        </div>
        <div style="display: inline-block; width:45%">
            <figure>
           <img src="./pic10.jpg" alt="" width="100%">
           <figcaption>
            The shocking number of animal cruelty cases reported every day is just the tip of the iceberg—most cases are never reported. Unlike violent crimes against people, cases of animal abuse are not compiled by state or federal agencies, making it difficult to calculate just how common they are. However, we can use the information that is available to try to understand and prevent cases of abuse.
        
            Who abuses animals?
            Cruelty and neglect cross all social and economic boundaries and media reports suggest that animal abuse is common in both rural and urban areas.
            
           
        </figcaption>
        </figure>
        </div>
        <div style="display: inline-block; width:45%">
        <figure>
        <img src="odg.jpg" alt="" width="100%">
        <figcaption>
        Intentional cruelty to animals is strongly correlated with other crimes, including violence against people.
        Hoarding behavior often victimizes animals. Sufferers of a hoarding disorder may impose severe neglect on animals by housing far more than they are able to adequately take care of. Serious animal neglect (such as hoarding) is often an indicator of people in need of social or mental health services.
        Surveys suggest that those who intentionally abuse animals are predominantly men under 30, while those involved in animal hoarding are more likely to be women over 60.
        </figure>
        </div>
    </main>
    <footer style="background-image: url('./footer2.jpg');">
        &emsp; <a href="./term&polecy.html" style="text-decoration: none; color:rgb(0, 0, 0);"><b>Trems&Policy</b></a>
        &emsp; <a href="./aboutinfo.html" style="text-decoration: none; color:rgb(0, 0, 0);"><b>aboutinfo</b></a>
        &emsp;<a href="./ourfounder.html" style="text-decoration: none; color:rgb(12, 12, 11);"><b>Ourfounder</b></a> &emsp;&emsp;&#169;2022<a href="https://www.facebook.com/syed.afaz.585/" style="text-decoration: none; color:rgb(12, 12, 11);">afazsyed2@gmail.com</a>
     </footer>
</body>
</html>