<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title>Amazing Slider</title>
    
    <!-- Insert to your webpage before the </head> -->
    <script src="sliderengine/jquery.js"></script>
    <script src="sliderengine/amazingslider.js"></script>
    <link rel="stylesheet" type="text/css" href="sliderengine/amazingslider-1.css">
    <script src="sliderengine/initslider-1.js"></script>
    <!-- End of head section HTML codes -->
    
</head>
<body>
    
    <!-- Insert to your webpage where you want to display the slider -->
    <div class="amazingslider-wrapper" id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:900px;margin:0px auto 6px;">
        <div class="amazingslider" id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
            <ul class="amazingslider-slides" style="display:none;">
                <li><img src="images/cat.jpg" alt="Protect Our Wildlife"  title="Protect Our Wildlife" data-description="&quot;Animal protection is education to humanity.&quot; (" />
                </li>
                <li><img src="images/jjj.jpg" alt="Protect Our Wildlife"  title="Protect Our Wildlife" data-description="&quot;Animal protection is education to humanity.&quot; (" />
                </li>
                <li><img src="images/looo.jpg" alt="Protect Our Wildlife"  title="Protect Our Wildlife" data-description="&quot;Animal protection is education to humanity.&quot; (" />
                </li>
                <li><img src="images/odg.jpg" alt="Protect Our Wildlife"  title="Protect Our Wildlife" data-description="&quot;Animal protection is education to humanity.&quot; (" />
                </li>
                <li><img src="images/iii.jpg" alt="Protect Our Wildlife"  title="Protect Our Wildlife" data-description="&quot;Animal protection is education to humanity.&quot; (" />
                </li>
                <li><img src="images/jjj.jpg" alt="Protect Our Wildlife"  title="Protect Our Wildlife" data-description="&quot;Animal protection is education to humanity.&quot; (" />
                </li>
                <li><img src="images/gg.jpg" alt="Protect Our Wildlife"  title="Protect Our Wildlife" data-description="&quot;Animal protection is education to humanity.&quot; (" />
                </li>
            </ul>
            <ul class="amazingslider-thumbnails" style="display:none;">
                <li><img src="images/cat-tn.jpg" alt="Protect Our Wildlife" title="Protect Our Wildlife" /></li>
                <li><img src="images/jjj-tn.jpg" alt="Protect Our Wildlife" title="Protect Our Wildlife" /></li>
                <li><img src="images/looo-tn.jpg" alt="Protect Our Wildlife" title="Protect Our Wildlife" /></li>
                <li><img src="images/odg-tn.jpg" alt="Protect Our Wildlife" title="Protect Our Wildlife" /></li>
                <li><img src="images/iii-tn.jpg" alt="Protect Our Wildlife" title="Protect Our Wildlife" /></li>
                <li><img src="images/jjj-tn.jpg" alt="Protect Our Wildlife" title="Protect Our Wildlife" /></li>
                <li><img src="images/gg-tn.jpg" alt="Protect Our Wildlife" title="Protect Our Wildlife" /></li>
            </ul>
        <div class="amazingslider-engine"><a href="http://amazingslider.com" title="Responsive jQuery Slideshow">Responsive jQuery Slideshow</a></div>
        </div>
    </div>
    <!-- End of body section HTML codes -->
    
</body>
</html>